{% extends 'base.html.twig' %}

{% block title %}Mes projets - Portfolio{% endblock %}

{% block body %}
    <h1 class="mb-4">Mes projets</h1>

    <div class="row g-3">
        {% for project in projects %}
            <div class="col-md-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.title }}</h5>
                        <p class="card-text">
                            {{ project.shortDescription|u.truncate(120, '...') }}
                        </p>
                        <a href="{{ path('project_show', {slug: project.slug}) }}"
                           class="btn btn-primary btn-sm">
                            Voir le projet
                        </a>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Aucun projet pour le moment.</p>
        {% endfor %}
    </div>
{% endblock %}
